
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}

:root {
    --primary-100:#ffd100;
    --primary-200:#ffee32;
    --accent-100:#d6d6d6;
    --secondary-100:#333533;
    --secondary-200:#202020;
    --black:#0c0f0a;
    --white:#f7f7ff;

    --length-50p:50%;
    --length-100p:100%;
    --length-70p: 70%;
    --length-90p:90%;
    --length-500:500px;
    --length-200:200px;
    --length-100:100px;
    --length-150:150px;
    --length-50:50px;

    --fs-small:1em;
    --fs-medium:1.5em;
    --fs-large:2em;
    --fs-xlarge:5em;
    font-family: 'Ubuntu', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    /* min-height: 100vh; */
    /* max-width: 100vw; */
    flex-direction: column;
    background-image: linear-gradient(to top, var(--black),var(--secondary-200));
}

header {
    min-height: var(--length-100);
    width: var(--length-100p); 
    background: var(--black);
    flex-direction: column;
    position:sticky;
    top: 0;
}

#navbar,
#currentForecast
 {
    /* outline: 2px solid lime; */
    width: var(--length-50p);
    color: var(--white);
    padding: 10px;
}

#navbar {
    position: relative;
    height: 60px;
}

#navIconBox {
    position: absolute;
    left: 0;
}

#navIcon {
    height: var(--length-50);
    aspect-ratio: 1 / 1 ;
}

#currentForecast {
    justify-content: space-between;
}

#currentForecast h2 {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    font-size: var(--fs-xlarge);
    padding: 10px;
}

#forecastMaxMinTemperature img {
    height: 10px;
    margin: 0px 5px;
}

#forecastMaxMinTemperature span, 
#currentForecastDetail p {
    color: var(--accent-100);
    margin-bottom: 5px;
}


/* Main section */
#main {
    width: var(--length-50p);
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#current {
    width: var(--length-70p);
    min-height:50vh ;
}

#currentImage {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    /* outline: 2px solid black; */
}

section {
    width: var(--length-90p);
    /* height: 200px; */
    background: var(--secondary-200);
    margin: 20px 0px;
    border-radius: 20px;
    color: var(--white);
    padding: 20px;
    box-shadow: 5px 5px 10px var(--black);
                /* 2px 2px 5px var(--white); */
}

/* horuly update box */
#hourly,
#daily,
.hourlyUpdate,
#dailyForecastBox {
    flex-direction: column;
}

#maxMinHeading {
    width: var(--length-100p);
    justify-content: end;
    margin-bottom:20px ;
}

#maxMinHeading img {
    height: 20px;
    margin: 0px 20px;
}

.weatherIcon {
    height: 20px;
    aspect-ratio: 1 / 1;
}

#hourly h2,
#daily h2 {
    width: var(--length-100p);
    text-align: start;
    font-size: var(--fs-medium);
    font-weight: 200;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--white) ;
    margin-bottom: 10px;
}

#hourlyUpdateBox,
#dailyForecastBox {
    width: var(--length-100p);
    justify-content: flex-start;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.hourlyUpdate{
    justify-content: space-between;
    height: var(--length-100p);
}

#hourlyUpdateBox {
    gap: 40px;
    height: 150px;
}

.dailyForecast {
    width: var(--length-100p);
    justify-content: space-between;
}

.dayBox {
    width: var(--length-150);
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p {
        font-size: var(--fs-medium);
    }
}

.temperatureDataBox p {
    font-size: var(--fs-medium);
    margin: 0px 15px;
}

@media (max-width: 500px) {
    :root {
        --length-50p:100%;
        --length-70p:100%;
        --length-90p:90%;
        --length-500:400px;
        --length-200:150px;
        --length-150:100px;
        --length-100:80px;
        --length-50:50px;
    
        --fs-small:1em;
        --fs-medium:1.2em;
        /* --fs-large:1.5em; */
        --fs-xlarge:3em;
    }
}
